*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-image: radial-gradient(circle at 74.33% 25.67%, #606062 0, #151f34 50%, #00000a 100%);
}
.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0d1424;
    height: 10px;
    width: 100%;
    text-align: center;
    line-height: 140px;
}
.container h1{

}
#Foto{
    position: absolute;
    left: 2%;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 4px solid rgba(11, 20, 59, 0.774);;
}
#nome-perfil{
    position: absolute;
    left: 13%;
    top: 40px;
}
.main{
    background-image: radial-gradient(circle at 19.17% 58.26%, #606062 0, #151f34 50%, #00000a 100%);
    border-radius: 5px;
    color: rgba(11, 20, 59, 0.774);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 50%;
    padding: 5px;
    width: 80%;
    height: 300px;
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(170, 161, 161, 0.493);
}
#titulo_2{
    text-align: center;
    color:#0c1320;
    border-bottom: 1px solid whitesmoke;
}
li{
    position: relative;
    top: 110px;
    list-style: none;
    margin-left: 20px;
    color: rgba(250, 235, 215, 0.644);
}
.btn{
    position: relative;
    margin-top: 120px;
    width: 150px;
    height: 50px;
    left: 9%;
    background-color: #151f34;
    border: none;
    color: aliceblue;
    
}
.footer{
    background: rgb(32, 35, 39);
    position: relative;
    top:500px;
    height: 90px;
    width: 100%;
    border-top: 1px solid rgb(100, 96, 96);
}
.barra{
    position: absolute;
    left: 50%;
    background-color: rgba(240, 248, 255, 0.61);
    width: 1px;
    height: 90px;
}
.social{
    width: 150px;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 52%;
}
.git{
    width: 35px;
    height: 30px;
}
.card_1{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    width: 190px;
    height: 280px;
    left: 40%;
    box-shadow: 0 4px 8px 0 ;
  

}
.html_icone{
    position: relative;
    width: 70px;
    margin: 8px;
    left: 50%;
    transform: translate(-50%);
}
.loadin{
    background-image: linear-gradient(90deg,red , rgb(129, 243, 113) 50%);
    position: absolute;
    width: 140px;
    height: 10px;
    border-radius: 5px;
    top: 180px;
    
}

#loading{
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}
.h3{
    position: absolute;
    left: 50%;
    top: 220px;
    transform: translate(-50%);
    border-bottom: 1px solid rgba(240, 248, 255, 0.733);
}
.card_2{
    position: absolute;
    text-align: center;
    padding: 5px;
    width: 190px;
    height: 280px;
    left: 60%;
    box-shadow: 0 4px 8px 0;
}
.css_icone{
    position: relative;
    width: 70px;
    margin: 8px;
    left: 40%;
    transform: translate(-50%);
}
#loading_2{
    color: #2e3950;
    position: relative;
    top: 33px;
    right: 60px;
    margin-bottom: 10px;
}
.h1_css{
    color: #2b3a57;
}
.h3{
    color: #415681;
}
.card_3{
    position: absolute;
    text-align: center;
    padding: 5px;
    width: 190px;
    height: 280px;
    left: 80%;
    box-shadow: 0 4px 8px 0;
}
.git_icone{
    position: relative;
    width: 70px;
    margin: 8px;
    left: 40%;
    transform: translate(-50%);
}
.loadin_3{
    color: #2e3950;
    position: relative;
    top: 33px;
    right: 60px;
    margin-bottom: 10px;
}
.sobre{
    position: relative;
    width: 80%;
    background-image: radial-gradient(circle at 19.17% 58.26%, #606062 0, #151f34 50%, #00000a 100%);
    left: 50%;
    top: 450px;
    transform: translate(-50%);
    padding: 5px;
    border: 2px solid rgba(170, 161, 161, 0.493);
}
.perfil_pessoal{
    color: rgba(245, 245, 245, 0.726);
    margin-top: 8px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border:2px solid #767c88;
}
.descrição de perfil{
    
}
.perfil_pessoal h2{
    text-align: center;
    color: #151f34;

}
